.wrapper{
    display: flex;
    flex-direction: column;
}
form{
    width: 100%;width: 100%;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
.flexCol span {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
}
.flexCol > div{
    display: flex;
    flex-direction: column;
    margin: auto 5%;
    padding: 1em 0;
}
.button{
    font-size: 3.5em;
    font-weight: bold;
    background: #F7D22D;
    color: #ffffff;
    border: 0;
    border-radius: 1em;
    margin-top: 2em;
    justify-self: center;
    padding: 1em;
    margin: auto 5%;

}
.flexCol div input{
    width: 100%;
    border: 2px solid #E3ECF5;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 3em;
}
.flexCol div label{
    padding: 0.5em 0;
    margin-left: 1em;
    font-size: 3em;
    font-weight: bold;
}
/*  Состав заказа*/

.cart{
    margin: 0;
    font-size: 3em;
    font-weight: 600;
    color: #F7D22D;
}

.prodList ul{
    margin: 45px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.prodItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prodItem p{
    font-size: 3em;
}
.prodItem div {
    flex: 1;
}
.price {
    display: flex;
    font-size: 2em;
    font-weight: 600;
    text-align: start;
    align-items: center;
}

.price svg {
    margin-top: 15px;
}

/* Total */
.total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3em;
    font-weight: 600;
    color: #ef3a65;
}
.total > div {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.totalSum{
    display: flex;
    align-items: center;
}

.totalSum svg {
    margin-top: 15px;
}

.totalSum g{
    fill: #ef3a65;
}
