.wrapper{
    display: flex;
    flex-direction: column;
}
form{
    width: 100%;width: 100%;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
.flexCol div{
    display: flex;
    flex-direction: column;
    margin: auto 5%;
    padding: 1em 0;
}
.button{
    font-size: 3.5em;
    font-weight: bold;
    background: #F7D22D;
    color: #ffffff;
    border: 0;
    border-radius: 1em;
    margin-top: 2em;
    justify-self: center;
    padding: 1em;
    margin: auto 5%;

}
.flexCol div input{
    width: 100%;
    border: 2px solid #E3ECF5;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 3em;
}
.flexCol div label{
    padding: 0.5em 0;
    margin-left: 1em;
    font-size: 3em;
    font-weight: bold;
}
/*  */