.loading{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loading p {
    font-size: 3em;
    font-weight: 600;
    color: black;
    text-align: center;
}
.loading p span {
    color: red;
    font-size: 1.5em;
    font-weight: 400;
}