.logoMaracuyaWr{
    position: relative;
    /* border: 0.5em solid #F7D22D; */
    padding: 0.5em;
   
}
.logoMaracuyaBl{
    border-radius: 3em;
    position: absolute;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.6;

}