.wrapper {
}
.modal {
    /* position: relative;
    background-color: white;
    margin: 0 10px;
    border: 4px solid #f7d22d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column; */
}
.border {
    /* background-color: #f7d22d;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-radius: 1em 1em 0 0;
    margin: 0 10px; */
}

.body {
    /* max-height: 65vh;
    overflow: scroll; */
}
.item {
}
.closeModal {
    position: absolute;
    right: 15px;
    width: 10em;
    height: 10em;
}

.name p {
    font-size: 2.5em;
    font-weight: 600;
}
.close {
    align-self: end;
    width: 90px;
    height: 90px;
    background-color: inherit;
    border: 1px solid black;
    font-size: 52px;
    font-weight: 200;
    color: black;
    border-radius: 50%;
}
.count {
}
.count button {
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 4.5em;
    color: #696f7a;
    flex: 1;
    border-radius: 8px;
}
.count span {
    display: inline-block;
    max-width: 65px;
    font-size: 2.5em;
    align-self: center;
}
.price {
}
.price p {
    width: max-content;
    font-size: 2.5em;
    font-weight: bold;
    color: #f7d22d;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer {
    /* padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 35px; */
}
.total {
    /* font-size: 3.5em;
    font-weight: 400;
    width: 700px;
    display: flex;
    justify-content: space-between; */
}
.total span {
    text-align: end;
    display: inline-block;
    min-width: 295px;
    font-weight: 600;
}
.btn {
}
.empty {
    /* font-size: 5.5em;
    text-align: center;
    padding: 150px 0; */
}

.itemPrice {
}

.itemPrice svg {
}

.itemPrice g {
    fill: #f7d22d;
}
.totalPrice {
    /* display: flex;

    align-items: center; */
}
.totalPrice svg {
    /* width: 40px;
    height: 42px;
    margin-top: 15px; */
}

.rubLogo {
    max-width: 50px;
}
