.wrapper {
    padding-top: 180px;
    position: fixed;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.42);
}
.modal {
    position: relative;
    background-color: white;
     margin: 0 10px;
    border: 4px solid #F7D22D;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.border{
background-color: #F7D22D;
height: 3em;
display: flex;
justify-content: space-between;
align-items: center;
padding: 2em;
border-radius:1em 1em 0 0;
    margin: 0 10px;
}


.body {
    max-height: 65vh;
    overflow: scroll;
}
.item {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 5px;
    gap: 25px;
    border-bottom: 1px solid gray;

}
.closeModal {
    position: absolute;
    right: 15px;
    width: 10em;
    height: 10em;
}
.image img {
    width: 270px;
    height: 270px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 50%;
}
.name {
    flex: 1;
}
.name p {
    font-size: 2.5em;
    font-weight: 600;
}
.close {
    align-self: end;
    width: 90px;
    height: 90px;
    background-color: inherit;
    border: 1px solid black;
    font-size: 52px;
    font-weight: 200;
    color: black;
    border-radius: 50%;
}
.count {
    background-color: #F3F3F7;
    display: flex;
    border-radius: 8px;
    max-width: 320px;
}
.count button {
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 4.5em;
    color: #696F7A;
    flex: 1;
    border-radius: 8px;
}
.count span {
    display: inline-block;
    max-width: 65px;
    font-size: 2.5em;
    align-self: center;
}
.price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price p {
    width: max-content;
    font-size: 2.5em;
    font-weight: bold;
    color: #F7D22D;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 35px;
}
.total {
    font-size: 3.5em;
    font-weight: 400;
    width: 700px;
    display: flex;
    justify-content: space-between;
}
.total span {
    text-align: end;
    display: inline-block;
    min-width: 295px;
    font-weight: 600;
}
.btn {
    text-decoration: none;
    font-size: 3.5em;
    background: #F7D22D;
    padding: 20px 50px;
    color: black;
    border-radius: 8px;
}
.empty {
    font-size: 5.5em;
    text-align: center;
    padding: 150px 0;
}

.itemPrice {
    display: flex;
    align-items: center;
}

.itemPrice svg{
    margin-top: 10px;
}

.itemPrice g{
    fill: #F7D22D;

}
.totalPrice {
    display: flex;

    align-items: center;
}
.totalPrice svg {
    width: 40px;
    height: 42px;
    margin-top: 15px;
}
}

.rubLogo {
    max-width: 50px;
}

