.banner{
    margin: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.banner img {
    width: 540px;
    height: 312px;
    object-fit: cover;
    border-radius: 13px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.24);
}